nav{
    height: 60px;
    background-color: #3b3b3b;
}

.logo{
    justify-content: center;
    margin-top: 1rem;
    height: 35%;
    width: 40%;
}

.burger_menu img{
    position: absolute;
    right: 15rem;
    margin-top: .75rem;
    width: 2.5rem;
    height: 2.5rem;
}

.header{
    z-index: -4;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 520px;
    width: 100%;
}

.calltoaction{
    margin-left: 18rem;
}

#box1{
    z-index: -1;
    width: 29.5rem;
    height: 25.3rem;
    opacity: 0.1;
    position: absolute;
    top: 5.5rem;
    left: 14rem;
    background-color: #2cb7b2;
}

#box2{
    z-index: -2;
    position: absolute;
    top: 8rem;
    left: 14rem;
    width: 29.5rem;
    height: 25.3rem;
    opacity: 0.1;
    background-color: #2cb7b2;
}

#box3{
    z-index: -3;
    justify-content: center;
    align-items: center;
    width: 29.5rem;
    height: 25.3rem;
    position: absolute;
    opacity: 0.2;
    top: 7rem;
    left: 13rem;
    background-color: #2cb7b2;
}

.calltoaction h3{
    margin-top: 4rem;
    color: white;
}

.calltoaction button{
    z-index: 999;
    color: #2cb7b2;
    border-radius: 3px;
    padding: 1rem 2rem;
    background-color:white; 
    justify-content: center;
}

.content{
    margin-bottom: 4rem;
}

.boxes{
    margin: 8rem;
}

.boxes p{
    padding: 7rem;
}

footer{
    padding: 3rem;
    color: white;
    background-color: #2cb7b2;
}

footer .prize{
    margin-top: 6rem;
    margin-bottom: 3rem;
    width: 20%;
    height: 20%;
}

footer .iphone{
    margin-bottom: 3rem;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    nav{
        display: flex;
        align-items: flex-start;
    }
    .logo{
        position: absolute;
        top: -0.5rem;
        left: 5rem;
        height: 5%;
        width: 8%;
    }
    
    .burger_menu img{
        position: absolute;
        top: 0;
        right: 5rem;
        margin-top: .75rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    #box1{
        z-index: -1;
        width: 29.5rem;
        height: 25.3rem;
        opacity: 0.1;
        position: absolute;
        top: 1.5rem;
        left: 5rem;
        background-color: #2cb7b2;
    }
    
    #box2{
        z-index: -2;
        position: absolute;
        top: 8rem;
        left: 5rem;
        width: 29.5rem;
        height: 25.3rem;
        opacity: 0.1;
        background-color: #2cb7b2;
    }
    
    #box3{
        z-index: -3;
        justify-content: center;
        align-items: center;
        width: 29.5rem;
        height: 25.3rem;
        position: absolute;
        opacity: 0.2;
        top: 7rem;
        left: 7rem;
        background-color: #2cb7b2;
    }
    .calltoaction{
        margin-left: 8rem;
    }
    
    .boxes{
        margin: 1.25rem;
    }

    .boxes p{
        padding: 2rem;
    }

    footer .iphone{
        margin-bottom: 3rem;
        width: 70%;
        height: 70%;
    }
  }

@media only screen and (max-width: 1024px) {
    /* For tablet phones: */
    body{
        font-size: 2rem;
    }

    .logo{
        position: absolute;
        top: -0.25rem;
        left: 8rem;
        height: 3%;
        width: 8%;
    }

    .burger_menu img{
        position: absolute;
        top: 0;
        right: 7rem;
        margin-top: .75rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .calltoaction{
        margin-left: 8rem;
    }

    #box1{
        z-index: -1;
        width: 29.5rem;
        height: 25.3rem;
        opacity: 0.1;
        position: absolute;
        top: 5.5rem;
        left: 5rem;
        background-color: #2cb7b2;
    }
    
    #box2{
        z-index: -2;
        position: absolute;
        top: 7rem;
        left: 5rem;
        width: 29.5rem;
        height: 25.3rem;
        opacity: 0.1;
        background-color: #2cb7b2;
    }
    
    #box3{
        z-index: -3;
        justify-content: center;
        align-items: center;
        width: 29.5rem;
        height: 25.3rem;
        position: absolute;
        opacity: 0.2;
        top: 7rem;
        left: 7rem;
        background-color: #2cb7b2;
    }

    .content{
        margin-bottom: 1rem;
    }
    
    .boxes{
        margin: 4rem;
    }
  }